<div class="fixed-bottom mx-auto" style="width: 375px;">
    <section class="footer bg-white py-xs text-gray-300 fs-h6 fw-700 mt-3xl shadow-md position-relative">
        <a href="index.html" class="footer-home-btn text-white bg-primary rounded-circle position-absolute top-25 start-50 translate-middle">
            <div class="position-relative" style="width: 40px; height: 40px;">
                <span class="material-symbols-outlined position-absolute top-50 start-50 translate-middle">home</span>
            </div>
        </a>
    
        <!-- <a href="#" class="footer-home-btn text-white material-symbols-outlined bg-primary rounded-circle position-absolute top-25 start-50 translate-middle p-xs" style="width: 40px; height: 40px;">home
        </a> -->
    
        <ul class="nav d-flex justify-content-around">
            <li class="d-flex flex-column align-items-center justify-content-center text-center gap-xxs">
                <a href="friends.html" style="width: 65px;" class="position-relative <%= page === 'friends' ? 'text-primary' : '' %>">
                    <span class="material-symbols-outlined">handshake</span>
                    <p class="mb-0">找朋友</p>
                    <span class="rounded-circle bg-compl-500 position-absolute translate-middle" style="width: 8px; height: 8px; right: 10px; top: 3px;"></span>
                </a>
            </li>
            <li class="d-flex flex-column align-items-center justify-content-center text-center gap-xxs">
                <a href="article.html" style="width: 65px;" class=" <%= page === 'article' ? 'text-primary' : '' %>">
                    <div class="mb-tiny">
                        <span class="mgc_balloon_2_line fs-h2"></span>
                    </div>
                    <p class="mb-0">活動</p>
                </a>
            </li>
            <li class="d-flex flex-column align-items-center justify-content-end text-center" >
                <a href="index.html" style="width: 65px;" class="pt-xl <%= page === 'home' ? 'text-primary' : '' %>">
                <p class="mb-0">首頁</p>
                </a>
            </li>
            <li class="d-flex flex-column align-items-center justify-content-center text-center gap-xxs">
                <a href="learning-main.html" style="width: 65px;" class=" <%= page === 'learning' ? 'text-primary' : '' %>">
                    <span class="material-symbols-outlined">import_contacts</span>
                    <p class="mb-0">學日文</p>
                </a>
            </li>
            <li class="d-flex flex-column align-items-center justify-content-center text-center gap-xxs">
                <a href="bio-info.html" style="width: 65px;" class=" <%= page === 'bio-info' ? 'text-primary' : '' %>">
                    <span class="material-symbols-outlined">person</span>
                    <p class="mb-0">個人</p>
                </a>
            </li>
        </ul>
    </section>
</div>
