
<div class="fixed-bottom mx-auto" style="width: 375px;">
    <section class="footer bg-white py-xs text-gray-300 fs-h6 fw-700 mt-3xl shadow-md position-relative">
        <a href="index.html" class="footer-home-btn text-white bg-primary rounded-circle position-absolute top-25 start-50 translate-middle">
            <div class="position-relative" style="width: 40px; height: 40px;">
                <span class="material-symbols-outlined position-absolute top-50 start-50 translate-middle">home</span>
            </div>
        </a>
    
        <!-- <a href="#" class="footer-home-btn text-white material-symbols-outlined bg-primary rounded-circle position-absolute top-25 start-50 translate-middle p-xs" style="width: 40px; height: 40px;">home
        </a> -->
    
        <ul class="nav d-flex justify-content-around">
            <li class="d-flex flex-column align-items-center justify-content-center text-center gap-xxs">
                <a href="friends.html" class=" <%= page === 'friends' ? 'text-primary' : '' %>">
                    <span class="material-symbols-outlined">handshake</span>
                    <p>找朋友</p>
                </a>
            </li>
            <li class="d-flex flex-column align-items-center justify-content-center text-center gap-xxs">
                <a href="article.html" class=" <%= page === 'article' ? 'text-primary' : '' %>">
                    <span class="mgc_balloon_2_line"></span>
                    <!-- <img class="mb-xxs" src="../assets/images/footer/balloon_2_line.svg" alt="activ_icon"> -->
                    <p>活動</p>
                </a>
            </li>
            <li class="d-flex flex-column align-items-center justify-content-end text-center" >
                <a href="index.html" class=" <%= page === 'home' ? 'text-primary' : '' %>">
                <p>首頁</p>
                </a>
            </li>
            <li class="d-flex flex-column align-items-center justify-content-center text-center gap-xxs">
                <a href="learning-main.html" class=" <%= page === 'learning' ? 'text-primary' : '' %>">
                    <span class="material-symbols-outlined">import_contacts</span>
                    <p>學日文</p>
                </a>
            </li>
            <li class="d-flex flex-column align-items-center justify-content-center text-center gap-xxs">
                <a href="myChat.html" class=" <%= page === 'myChat' ? 'text-primary' : '' %>">
                    <span class="material-symbols-outlined">person</span>
                    <p>個人</p>
                </a>
            </li>
        </ul>
    </section>
</div>
